header {
    width: 100%;
    height: 80px;
    display: flex;
    color: #FFFFFF;
    padding: 0px 20px;
    align-items: center;
    flex-direction: row;
    background-color: #15262C;
    justify-content: space-between;
}

.logo {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: #FFFFFF;
    text-decoration: none;
}
.nav li {
    list-style: none;
    font-weight: 500;
}

.auth {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
