header {
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    flex-direction: row;
    background-color: #15262C;
    justify-content: space-between;
}